{% extends 'base_layout.html' %}

{% block content %}
<div class='obalCenter'>
    <form id='form' method='POST' class='settingBUT' name='form' action="#">
        Type: <br>
        <select class='settingBUT' name="device_type">
            {% for device in device_list %}
            <option  value="{{ device.id }}">{{ device.name }}</option>
            {% endfor %}
        </select>
        <br>
        {% csrf_token %}
        Name: <br>
        <input class='settingBUT' type="text" name="name" id="name">
        <br>
        IP: <br>
        <input class='settingBUT' type='text' name='ip' id='ip'>
        <br>
    </form>

<button type="submit" class='settingBUT btn btn-success'  onclick='ValidateIPaddress()'>Add</button>
<div id='error'> </div>
</div>
    <script>

document.getElementById('home').classList.remove("active");
document.getElementById('devices').classList.add("active");

function ValidateIPaddress()
 {
 ipAdresa = document.getElementById("ip");
 var ipformat = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
 if(ipAdresa.value.match(ipformat) && document.getElementById('name').value != "" )
 {
document.getElementById("form").submit();
 }

else if(ipAdresa.value.match(ipformat))
 {
document.getElementById("error").innerHTML= 'You have not enetered a name!';

 }
 else{
document.getElementById("error").innerHTML= 'You have entered an invalid IP address!';

 document.getElementById("ip").value='';
 }
 }
    </script>

{% endblock %}