{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rfd_web/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{% static 'rfd_web/favicon.ico' %}" type="image/x-icon">
    <title>RFD-APP</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
        <span class='oddelovac'> </span>
        <ul class="nav nav-tabs">
  <li class="nav-item">
   <a class="nav-link active" id='home' href={% url 'rfd_web:index' %}>Home</a>
  </li>
  <li class="nav-item">
   <a class="nav-link" id='news' href={% url 'RSSFeed:feed' %}>News</a>
  </li>
  <li class="nav-item">
   <a class="nav-link" id='weather' href={% url 'Weather:weather' %}>Weather</a>
  </li>
  
  <li class="nav-item">
   <a class="nav-link " id='devices' href={% url 'rfd_web:device_feed' %}>My Devices</a>
  </li>
</ul>
<ul class='nav nav-tabs navbar-right '>
<div class="nav-item dropdown btn-group">
   {% if user.is_authenticated %}
  <button class="btn btn-secondary dropdown-toggle" title='{{user.first_name}} {{user.last_name}}' type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{user.username}}
  </button>
  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href={% url 'Accounts:profile' %}>Profile</a>
    <a class="dropdown-item" href={% url 'Accounts:settings' %}>Settings</a>
        <div class="dropdown-divider"></div>
    <form class="dropdown-item" action="{% url 'Accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button  class="btn btn-danger"  type="submit">
                        Logout
                    </button>
                </form>
                  </div>
                  
 {% else %}
 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Login/Register
  </button>
 <div class="dropdown-menu dropdown-menu-right" >




            <form class="dropdown-item" action="{% url 'Accounts:login' %}" >
                {% csrf_token %}
                <button class="btn" type="submit">
                    Login
                </button>
            </form>
<div class="dropdown-divider"></div>
            <form class="dropdown-item" action="{% url 'Accounts:signup' %}" >
                {% csrf_token %}
                <button class="btn" type="submit">
                    Register
                </button>
            </form>

</div>
{% endif %}
</div>

</ul>

</nav>
</header>
    {% block content %}

    {% endblock %}

        
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>

</html>