{% extends 'base_layout.html' %}

{% block content %}

<div class='Blok left_side Device'> 
<h2 class='Center'>Devices</h2> 
<ul>
    {% for device in device_list %}
    <li class='LIST'>
        <a href="{% url 'rfd_web:device_detail' device.id %}">{{ device.name }}</a>
    </li>
    {% endfor %}
</ul>
<div class='Center'>
    <a href ={% url 'rfd_web:add_device' %}> Add Device!</a>
    </div>
</div>

<div  class='Blok Feed right_side '>
<h2 class='Center'> NewsFeed </h2>
<ul>
{% for feed in feeds %}
{% for entry in feed.entries %}
{% if forloop.counter < 2 %}
    <li><a href="{{entry.link}}">{{entry.title}}</a>
    {{entry.source}}
     </li>
   {% endif %}
{% endfor %}

{% endfor %}
</ul>
<div class='Center'>
    <a href ={% url 'RSSFeed:add_rss_feed' %}> Add RSS Feed!</a>
    </div>
    </div>








    {% if pocasi_list %}
    
<div class='Weather'> 
    <h2 > Weather </h2>
    {% for pocasi in pocasi_list %}
   <script type='text/javascript' src='https://darksky.net/widget/small/{{pocasi.lat}},{{pocasi.lon}}/{{unit}}12/en.js?width=100%&height=200&title={{pocasi.location}}&textColor=333333&bgColor=ff2424&transparency=true&skyColor=undefined&fontFamily=Verdana&customFont=&units=uk'></script>
   <div >
    <a href ={% url 'Weather:add_weather' %}> Change the location</a>
    </div>
    </div>
{% endfor %}
    {% else %}
        <div>
    <a href ={% url 'Weather:add_weather' %}> Add Location to Display weather!</a>
    </div>
    {% endif %}
    
  {% endblock %}