{% extends 'base_layout.html' %}

{% block content %}

<h2>Devices</h2>

<ul>
    {% for device in device_list %}
    <li style='
  list-style-type: none;'>
        <a href="{% url 'rfd_web:device_detail' device.id %}">{{ device.name }}</a>
    </li>
    {% endfor %}
</ul>


  {% endblock %}