{% extends 'base_layout.html' %}
{% block content %}
<div style='padding:20px'>
<h1>{{ device.name }}</h1>
<form action="/device_action/{{device.id}}/on" method="post">
    {% csrf_token %}
    <button class='btn btn-success' type="submit">On</button>
</form><form action="/device_action/{{device.id}}/off" method="post">
    {% csrf_token %}
    <button class='btn btn-danger' type="submit">Off</button>
</form>
</div>
<script>
document.getElementById('home').classList.remove("active");
document.getElementById('devices').classList.add("active");
</script>
{% endblock %}