{% extends 'base_layout.html' %}

{% block content %}
<div class='obalCenter'>
<h2> Devices </h2>
<ul>
    {% for device in device_list %}
    <li 
class='LIST'>
    
       <form  action="/device_action/{{device.id}}/on" method="post">
    {% csrf_token %}
    <button class='btn settingBUT btn-success' type="submit">On</button>
</form><form  action="/device_action/{{device.id}}/off" method="post">
    {% csrf_token %}
    <button class='btn settingBUT btn-danger' type="submit">Off</button>
</form>
       {{ device.name }} - {{device.device_type}}


</span>
    </li>

    {% endfor %}
</ul>

</div>
<script>
document.getElementById('home').classList.remove("active");
document.getElementById('devices').classList.add("active");
</script>
  {% endblock %}