{% extends 'base_layout.html' %}
{% block content %}
<div class='obalCenter'> 
{% for Device in device_list %}
<form action='#' method='POST' class='settingBUT'>
{{Device.name}} <input class="btn left_side btn-danger" type='submit' value='Odebrat'/>
<input type='hidden' value='{{Device.id}}' name='id'/>
{% csrf_token %}
</form>
<br>
{% endfor %}
</div>

<script>
document.getElementById('home').classList.remove("active");
</script>
{% endblock %}