{% extends 'base_layout.html' %}

{% block content %}

<div class='obalCenter'>
<h3> Insert RSS URL channel </h3>
    <form id='Form' action="" method='POST' class='settingBUT'>
        <input class='btn input1 settingBUT' type="text" name="url" id="url">
       {% csrf_token %}
       <button class='settingBUT btn btn-success' type="submit">Add</button>
        </form>
<h3> Recommended RSS Channels </h3>
<p id='p'> </p>
<select class='settingBUT' id='select' onchange="changeOption()">

</select>



<div id='sem'>

</div>
</div>

<script>

document.getElementById('home').classList.remove("active");
document.getElementById('news').classList.add("active");

var dataaa = (JSON.parse('{{ json | escapejs }}'));
var uniqueinfo = [];
 var prvek = document.getElementById("select");
unique();
addOption()
changeOption();


function changeOption(){
    selected = prvek.options[prvek.selectedIndex].value;
    ShowData();
     }

function ShowData(){
    document.getElementById('sem').innerHTML ='';
        for(i = 0; i < dataaa.length; i++){
            if(selected == dataaa[i].fields.info){
                document.getElementById('sem').innerHTML = document.getElementById('sem').innerHTML + "<br>" + (`<button class="btn btn-info" onclick="addRecommended('${dataaa[i].fields.url}')" type='submit'> Add </button> ` + dataaa[i].fields.name  );
            }
            
        }
}

function addRecommended(data){
   document.getElementById("url").value = data;
   document.getElementById("Form").submit();
}
function unique(){
var pole = []
  for(i =0; i<dataaa.length; i++ ){
      pole[i] = dataaa[i].fields.info;
      }
$.each(pole, function(i, el){
    if($.inArray(el, uniqueinfo) === -1) uniqueinfo.push(el);
});
}
function addOption(){
    for(i = 0; i < uniqueinfo.length; i++){
      var option = document.createElement('option');
      option.value = uniqueinfo[i];
      option.text = uniqueinfo[i];
      option.id='selector';
      prvek.add(option);
    }
}

</script>
    {% endblock %}