{% extends 'base_layout.html' %}
{% block content %}
<div style='padding:15px'>

{% for feed in feeds %}
<h3 class='BorderDown'>
<a  href="{{feed.feed.link}}">{{feed.feed.title}}</a> </h3>
<!-- <img class='logo' src='{{feed.feed.image.href}}'/>  Bohužel ne všechny feedy mají logo :(-->
<ul>
{% for entry in feed.entries %}
{% if forloop.counter <= number %}

    <li style='
  list-style-type: none;'><a href="{{entry.link}}">{{entry.title}}</a>
    {{entry.source}}
     </li>
   {% endif %}
{% endfor %}
</ul>
{% endfor %}
<div class='Center'>
    <a href ={% url 'RSSFeed:add_rss_feed' %}> Add RSS Feed!</a>
    </div>
</div>
<script>

document.getElementById('home').classList.remove("active");
document.getElementById('news').classList.add("active");

</script>


{% endblock %}