{% extends 'base_layout.html' %}
{% block content %}
<div class='obalCenter'>
{% for Rss in RSSList %}
<form action='' method='POST' class='settingBUT'>
{{Rss.url}} <input class="btn left_side btn-danger"  type='submit' value='Odebrat'/>

<input type='hidden' value='{{Rss.url}}' name='url'/>
{% csrf_token %}
</form>
<br>
{% endfor %}
</div>
<script>
document.getElementById('home').classList.remove("active");
document.getElementById('news').classList.add("active");
</script>
{% endblock %}