{% extends 'base_layout.html' %}

{% block content %}
<div class='obalCenter'>
<h3> Insert a location name </h3>
    <form id='Form' action="" method='POST' class='settingBUT'>
        <input type="text" class='btn input1 settingBUT' name="location" id="location">
        <input type='hidden' name='lon' id='lon'>
        <input type='hidden' name='lat' id='lat'>
       {% csrf_token %}
        
        </form><br>

<button onclick='getlocation()' class='settingBUT btn btn-success' type="submit">Submit</button>
<span id='Error'> </span>
</div>
 <script>

document.getElementById('home').classList.remove("active");

 function getlocation(){
 var lokace = document.getElementById("location").value;
  $.ajax({
  dataType: "json",
  url: 'https://nominatim.openstreetmap.org/search/' + lokace + '/?format=json',
  async: true,
  success: function(data){
      if (data[0] != undefined){  
      document.getElementById("lon").value = data[0].lon;
      document.getElementById("lat").value= data[0].lat;
      document.getElementById("Form").submit(); }
      else{
          document.getElementById("Form").reset(); 
          document.getElementById('Error').innerHTML = 'Selected location doesnt exist or couldnt be found';
      }
  },
  error: function(){
      document.getElementById("Form").reset(); 
        document.getElementById('Error').innerHTML = 'Selected location doesnt exist or couldnt be found';
  }
});

 }
</script>
    {% endblock %}