{% extends 'base_layout.html' %}
{% block content %}

    {% if pocasi_list %}
    {% for pocasi in pocasi_list %}
   <script type='text/javascript' src='https://darksky.net/widget/default/{{pocasi.lat}},{{pocasi.lon}}/{{unit}}12/en.js?width=100%&height=350&title={{pocasi.location}}&textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Default&customFont=&units=uk&htColor=333333&ltColor=C7C7C7&displaySum=yes&displayHeader=yes'></script>
   <script type='text/javascript' src='https://darksky.net/widget/graph-bar/{{pocasi.lat}},{{pocasi.lon}}/{{unit}}12/en.js?width=100%&height=400&title=Full Forecast&textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Verdana&customFont=&units=si&timeColor=333333&tempColor=333333&currentDetailsOption=true'></script>
   <script type='text/javascript' src='https://darksky.net/widget/graph/{{pocasi.lat}},{{pocasi.lon}}/{{unit}}12/en.js?width=100%&height=320&title=Full Forecast&textColor=333333&bgColor=transparent&transparency=true&fontFamily=Verdana&customFont=&units=si&graph=temperature_graph&timeColor=333333&tempColor=333333&lineColor=333333&markerColor=333333'></script>
   <script type='text/javascript' src='https://darksky.net/map-embed/@emoji,{{pocasi.lat}},{{pocasi.lon}},4.js?embed=true&timeControl=false&fieldControl=false&defaultField=emoji'></script>
     <div style='text-align:center'>
    <a href ={% url 'Weather:add_weather' %}> Change the location</a>
    </div>
{% endfor %}
    {% else %}
        <div style='text-align:center'>
    <a href ={% url 'Weather:add_weather' %}> Add Location to Display weather!</a>
    </div>
    {% endif %}


    

    <script>

document.getElementById('home').classList.remove("active");
document.getElementById('weather').classList.add("active");

</script>

{% endblock %}