
{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block content %}

<div class='obalCenter'>
    <h1> Change your password!</h1>
    <form class='settingBUT' action="" method="POST">
           {% for field in form %}
      <p>
        {{ field.label_tag }}

      <br>
        {{ field|add_class:"settingBUT" }}
              </p>
    {% endfor %}

  
        {% csrf_token %}
        <input class='btn settingBUT btn-success' type="submit" value="Save">
    </form>
    <div>
    <script>
document.getElementById('home').classList.remove("active");
</script>
{% endblock %}