{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block content %}
<div class='obalCenter'>
<h1> Edit your profile!</h1>
    <form action="" class='settingBUT'method="POST">

         {% for field in form %}
      <p>
      
        {{ field.label_tag}}
      <br>
        {{ field |add_class:"settingBUT" }}

              </p>
    {% endfor %}

        {% csrf_token %}
        <input class="btn settingBUT btn-success " type="submit" value="Save">
    </form>
    </div>
    <script>
document.getElementById('home').classList.remove("active");
</script>
{% endblock %}