{% extends 'base_layout.html' %}

{% block content %}
<div class='obalCenter'>
    <h1> Log in </h1>
    <form action="{% url 'Accounts:login' %}" method="POST">
          {% for field in form %}
         
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        {% if request.GET.next %}
            <input type="hidden" name='next' value="{{request.GET.next}}">
        {% endif %}
        {% csrf_token %}
        <input class='settingBUT btn btn-success' type="submit" value="Log in">
    </form>
    
    <div><p>New to RFD? <a href={% url 'Accounts:signup' %}>Sign up now</a></p> </div></div>
    <script>
document.getElementById('home').classList.remove("active");
</script>
{% endblock %}