{% extends 'base_layout.html' %}

{% block content %}
<div class='obalCenter'>
<h1>This is your account information, {{user.username}}.</h1>
 <br>

   <div>
   <h3> Basic information </h3>
    <p> First name: {{user.first_name}}</p>
    <p> Last name: {{user.last_name}}</p>
    <p> Email name: {{user.email}}</p>
    <a href={% url 'Accounts:edit_profile' %}> <button class="btn settingBUT btn-info"  type="submit">Change </button> </a>
   </div>

    <div>
    <h3> Password </h3>
    <a href={% url 'Accounts:change_password' %}> <button class="btn settingBUT btn-info"  type="submit">Change </button> </a>
   </div>
</div>

   
    <script>
document.getElementById('home').classList.remove("active");
</script>
{% endblock %}