{% extends 'base_layout.html' %}

{% block content %}
<div class='obalCenter'>
<div>
<h3>Settings</h3>
<form action='' method='POST' class='settingBUT'>
{% for Setting in Settings %}

<p>
Number of posts in each RSS feed: 
<input id="number_of_posts" name='number_of_posts' type="number" min="0" value="{{Setting.number_of_posts}}">
   </p>
   <br>
  Units for Weather forecast:
   <select name='units' id='units'>
<option value='{{Setting.units}}'> {{Setting.units}} </option>
{% endfor %}
{% for Unit in Units %}
<option value='{{Unit.unit}}'> {{Unit.unit}} </option>
{% endfor %}
</select>
<br>
<input class="btn btn-success settingBUT" type='submit' value='Save'/>
{% csrf_token %}
</form>
</div>
    <div>
    <h3> Rss Feeds </h3>
    <a href={% url 'RSSFeed:remove_rss' %}> <button  class="btn settingBUT btn-danger"  type="submit">Remove Rss Feed </button> </a>
<br>
      <a href={% url 'RSSFeed:add_rss_feed' %}> <button class="settingBUT btn btn-info"  type="submit">Add Rss Feed </button> </a>
   </div>
    <div>
    <h3> Devices </h3>
    <a href={% url 'rfd_web:remove_device' %}> <button class="btn settingBUT btn-danger"  type="submit">Remove Device </button> </a>
<br>
   <a href={% url 'rfd_web:add_device' %}> <button class="btn btn-info settingBUT"  type="submit">Add Device </button> </a>
   </div>
   </div>



{% endblock %}