{% extends 'base_layout.html' %}

{% block content %}

<div class='obalCenter'>
    <h1> Signup </h1>
    <form action="{% url 'Accounts:signup' %}" method="POST">
         {% for field in form %}
         
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        {% csrf_token %}
        <input class='settingBUT btn btn-success' type="submit" value="Sign Up">
    </form>
    <div><p>Already have an Account? <a href={% url 'Accounts:login' %}>Login now!</a></p> </div>

    </div>
<script>
document.getElementById('home').classList.remove("active");
</script>
{% endblock %}