
    body, html {
        height: 100%;
      }

    .left_side{
        float:left;
            }
          
    .right_side{
        float:right;
    }
    button{
        height:50px;
    }
    .settingBUT{
        width: 100%;
    }
    .input1{
        border: 1px solid black !important;
    }
    .obalCenter{
        margin: 0 auto; border: 2px solid #dee2e6; width:75%; border-top:none; padding:15px;
    }
    form{
        display:inline-block
    }

    form.dropdown-item{
        padding:0px
    }
    form.dropdown-item > button {
        width: 100%
    }
    #dropdownMenuButton{
        width: 160px;
        border-radius: 15px;
        height: 43px;
    }
    .LIST button{
        width: 75px;
    }
    .BorderDown{
        border-bottom:2px solid #dee2e6;
    }
    .oddelovac + ul.nav-tabs{
        width:calc(100% - 160px);
    }
    .logo{
        height:100px;
    }

    .Blok{
        width:50%;
    }
  
   .Feed{
    height: 100% ;
    border-left: 2px solid #dee2e6;
   }
.Weather{
    text-align: center;
    width: 50%;
}

   .Device{
       min-height: 50vh;
       border-bottom:2px solid #dee2e6;
   }
   .Center{
       text-align: center;
   }
   .LIST{
       font-size: 20px;
       list-style: none;
   }